@{
    ViewBag.Title = "Número Perfecto";
}

<div class="container">

<h2>¿Es un número perfecto?</h2>

<form method="post" action="/NumeroPerfecto/Verificar">
    <label class="form-label" for="numero">Ingresa un número:</label><br />
    <input type="number" name="numero" required /><br /><br />
    <input class="btn btn-primary" type="submit" value="Verificar" />
</form>

<br />



</div>