
@{

    ViewBag.Title = "Evaluacion";

}

<div class="container">


    <h1>Ingrese las calificaciones correspondientes</h1> <br />

    <form class="" action="/Evaluacion/Resultado" method="post">
        
        <label class="form-label" for="cali1">Perimera calificación</label>
        <input type="number" name="cali1" value="" /> <br /> <br />

        <label class="form-label" for="cali2">Segunda calificación</label>
        <input type="number" name="cali2" value="" /> <br /> <br />

        <label class="form-label" for="cali3">Tercera calificación</label>
        <input type="number" name="cali3" value="" /> <br /> <br />

        <label class="form-label" for="cali4">Cuarta calificación</label>
        <input type="number" name="cali4" value="" /> <br /> <br />
    
        <input class="btn btn-primary" type="submit" name="enviar" value="Ver Resultado" />
    
    </form>


</div>
