@{
    ViewBag.Title = "Saludo";
}

<h2>Formulario de Bienvenida</h2>

<div class="container">

<form action="/Ejercicio1/Saludar" method="post">
    <label class="col-form-label-sm" for="nombre">Nombre:</label> <br />
    <input class="" type="text" name="nombre" id="nombre" value="" /> <br /> <br />
    <input class="btn btn-primary" type="submit" value="Enviar" />
</form>

</div>
