@{
    ViewBag.Title = "Saludo";
}

<h2>Formulario de Bienvenida</h2>

<form action="/Ejercicio1/Saludar" method="post">
    <label for="nombre">Nombre:</label> <br />
    <input type="text" name="nombre" id="nombre" value="" /> <br />
    <input type="submit" value="Enviar" />
</form>
