@{
    ViewBag.Title = "Número Primo";
}

<h2>¿Es un número primo?</h2>

<div class="container">

    <form method="post" action="/Numero/Verificar">
        <label for="numero">Ingresa un número:</label><br />
        <input type="number" name="numero" required /><br /><br />
        <input class="btn btn-primary" type="submit" value="Verificar" />
    </form>

</div>

